/* 主体结构 */
.empty {
    display: none;
    margin-top: 80px;
    height: 500px;
    text-align: center;
    padding-top: 100px;
    font-size: 14px;
}

.empty img {
    display: block;
    width: 204px;
    margin: 0 auto;
}

.empty p {
    margin: 10px;
    color: #D5BFA7;
}

.not-empty {
    display: block;
    margin-top: 110px;
}

.not-empty .pros-title {
    height: 45px;
    line-height: 43px;
    border: 1px solid #E1E1E1;
    margin-bottom: 20px;
    text-align: center;
}

.not-empty .pros-title li {
    float: left;
}

.not-empty .pros-title li:nth-child(1) {
    width: 40%;
}

.not-empty .pros-title li:nth-child(2) {
    width: 25%;
}

.not-empty .pros-title li:nth-child(3),
.not-empty .pros-title li:nth-child(4) {
    width: 10%;
}

.not-empty .pros-title li:nth-child(5) {
    width: 15%;
}

.not-empty .pros {
    width: 100%;
    text-align: center;
}

.not-empty .pros tbody {
    border: 1px solid #E1E1E1;
}

.not-empty .pros th {
    font-weight: 400;
    text-align: center;
}


.shop-prodetail {
    width: 40%;
    padding: 25px 0;
    text-align: left;
}

.shop-prodetail img {
    width: 82px;
    height: 82px;
    border: 1px solid #EFEFEF;
    margin: 0 10px 0 60px;
}

.shop-prodetail h4 {
    font-size: 14px;
    line-height: 18px;
}

.goods-spec {
    color: #D5BFA7;
    font-size: 13px;
}

.goods-tableware {
    display: block;
    margin-top: 5px;
    color: #CECECE;
}

.goods-tableware i {
    display: inline-block;
    height: 35px;
    width: 35px;
    background: url(../image/icon.png) no-repeat;
    background-position: -44px -63px;
    background-size: 310px;
    vertical-align: baseline;
}

.blessing {
    width: 25%;
}

.blessing select {
    width: 235px;
    height: 25px;
    border: 1px solid #d5d5d5;
    outline: none;
}

.blessing select:active {
    border: 1px solid #a4a4a4;
}

.pro-price {
    width: 10%;
}

.pro-num {
    width: 10%;
}

.pro-num .btn {
    width: 22px;
    height: 22px;
    border: 1px solid #E7E7E7;
    font-size: 20px;
    line-height: 1;
    outline: none;
    background-color: transparent;
}

.pro-num .btn:disabled {
    color: #d2d2d2;
}

.pro-num .num {
    width: 48px;
    height: 22px;
    border: 1px solid #E7E7E7;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    text-align: center;
}

.pro-amount {
    width: 15%;
}

.cart-submit {
    width: 100%;
    height: 220px;
    padding: 25px 60px;
    margin: 20px 0 65px;
    border: 1px solid #E1E1E1;
    font-size: 13px;
}

.delete i {
    display: inline-block;
    width: 18px;
    height: 21px;
    background: url(../image/icon.png) no-repeat;
    background-position: -148px -71px;
    background-size: 310px;
    vertical-align: middle;
    margin-right: 18px;
    margin-bottom: 4px;
}

.cart-right {
    text-align: right;
}

.cart-total-detail {
    width: 233px;
    border-bottom: 2px solid #E1E1E1;
}

.cart-total-detail li {
    margin-bottom: 10px;
}

.cart-total {
    line-height: 42px;
}

.cart-total span {
    color: #FF714D;
}

.cart-submit-button a {
    display: block;
    width: 233px;
    height: 40px;
    margin-top: 14px;
    background-color: #684029;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.cart-submit-button a:hover {
    background-color: #442818;
}